.footer {
    background-color: var(--background-dark);
    padding: 2rem 0;
    color: var(--text-muted);
    font-size: 0.875rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;
    }
}

.socials {
    display: flex;
    gap: 1.5rem;

    a {
        color: var(--text-muted);
        font-size: 1.5rem;

        &:hover {
            color: var(--secondary-color);
        }
    }
}